[workspace]
[package]
name = "openvm-stateless-guest"
description = "OpenVM Reth Stateless Guest Program"
version = "0.4.0"
edition = "2021"

[dependencies]
# workspace
openvm-stateless-executor = { path = "../../crates/stateless-executor", features = ["openvm"] }

# openvm
openvm = { git = "https://github.com/openvm-org/openvm.git", branch = "main", features = [
    "std",
] }
openvm-algebra-guest = { git = "https://github.com/openvm-org/openvm.git", branch = "main" }
openvm-ecc-guest = { git = "https://github.com/openvm-org/openvm.git", branch = "main" }

# Enable std feature for host builds (provides critical-section implementation)
[target.'cfg(not(target_os = "zkvm"))'.dependencies]
openvm-stateless-executor = { path = "../../crates/stateless-executor", features = ["openvm", "std"] }

[package.metadata.cargo-machete]
ignored = ["openvm-algebra-guest", "openvm-ecc-guest"]

[features]
default = []
heap-embedded-alloc = ["openvm/heap-embedded-alloc"]

[profile.release]
panic = "abort"
lto = "fat"
strip = true

[profile.profiling]
inherits = "release"
debug = 2
strip = false
