[workspace]
[package]
name = "openvm-stateless-guest"
description = "OpenVM Reth Stateless Guest Program"
version = "0.4.0"
edition = "2021"

[dependencies]
# workspace
openvm-stateless-executor = { path = "../../crates/stateless-executor", features = ["openvm"] }

# openvm
openvm = { git = "https://github.com/openvm-org/openvm.git", branch = "main", features = [
    "std",
] }

[features]
default = []
heap-embedded-alloc = ["openvm/heap-embedded-alloc"]

[profile.release]
panic = "abort"
lto = "fat"
strip = true

[profile.profiling]
inherits = "release"
debug = 2
strip = false
