# # Copy to config.toml for local patches
# [net]
# git-fetch-with-cli = true

[patch."https://github.com/openvm-org/stark-backend.git"]
openvm-stark-backend = { git = "ssh://git@github.com/openvm-org/stark-backend.git", rev = "db491c8" }
openvm-stark-sdk = { git = "ssh://git@github.com/openvm-org/stark-backend.git", rev = "db491c8" }
openvm-cuda-builder = { git = "ssh://git@github.com/openvm-org/stark-backend.git", rev = "db491c8" }
openvm-cuda-common = { git = "ssh://git@github.com/openvm-org/stark-backend.git", rev = "db491c8" }
openvm-cuda-backend = { git = "ssh://git@github.com/openvm-org/stark-backend.git", rev = "db491c8" }

[patch."https://github.com/openvm-org/openvm.git"]
openvm-benchmarks-prove = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-sdk = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
cargo-openvm = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-mod-circuit-builder = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-poseidon2-air = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-circuit-primitives = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-circuit-primitives-derive = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-build = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-instructions = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-instructions-derive = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-macros-common = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-platform = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-circuit-derive = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-continuations = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }

openvm-algebra-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-algebra-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-algebra-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-algebra-moduli-macros = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-algebra-complex-macros = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-bigint-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-bigint-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-bigint-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-ecc-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-ecc-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-ecc-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-ecc-sw-macros = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-keccak256-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-keccak256-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-keccak256-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-native-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-native-compiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-native-compiler-derive = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-native-recursion = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-pairing-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-pairing-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-pairing-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-rv32-adapters = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-rv32im-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-rv32im-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-rv32im-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }

# Guest Libs
k256 = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
p256 = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-keccak256 = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-sha2 = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
openvm-pairing = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "545220a33f00bf53109e22401b841e6739ba80b7" }
