[net]
git-fetch-with-cli = true

[patch."https://github.com/openvm-org/stark-backend.git"]
openvm-stark-backend = { git = "ssh://git@github.com/openvm-org/stark-backend.git", rev = "972f5dbecb6ab3ff7e3e978e9087235ad17c1de9" }
openvm-stark-sdk = { git = "ssh://git@github.com/openvm-org/stark-backend.git", rev = "972f5dbecb6ab3ff7e3e978e9087235ad17c1de9" }
openvm-cuda-builder = { git = "ssh://git@github.com/openvm-org/stark-backend.git", rev = "972f5dbecb6ab3ff7e3e978e9087235ad17c1de9" }
openvm-cuda-common = { git = "ssh://git@github.com/openvm-org/stark-backend.git", rev = "972f5dbecb6ab3ff7e3e978e9087235ad17c1de9" }
openvm-cuda-backend = { git = "ssh://git@github.com/openvm-org/stark-backend.git", rev = "972f5dbecb6ab3ff7e3e978e9087235ad17c1de9" }

[patch."https://github.com/openvm-org/openvm.git"]
openvm-benchmarks-prove = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-sdk = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
cargo-openvm = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-mod-circuit-builder = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-poseidon2-air = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-circuit-primitives = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-circuit-primitives-derive = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-build = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-instructions = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-instructions-derive = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-macros-common = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-platform = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-circuit-derive = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }

openvm-algebra-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-algebra-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-algebra-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-algebra-moduli-macros = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-algebra-complex-macros = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-bigint-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-bigint-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-bigint-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-ecc-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-ecc-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-ecc-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-ecc-sw-macros = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-keccak256-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-keccak256-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-keccak256-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-native-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-native-compiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-native-compiler-derive = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-native-recursion = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-pairing-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-pairing-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-pairing-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-rv32-adapters = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-rv32im-circuit = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-rv32im-transpiler = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-rv32im-guest = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }

# Guest Libs
k256 = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
p256 = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-keccak256 = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-sha2 = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }
openvm-pairing = { git = "ssh://git@github.com/openvm-org/openvm.git", rev = "36849f5bd3a8748f364a9963e51cbc71ec10775e" }

# OpenVM
# Extensions
# [patch.crates-io]
# revm = { path = "../revm/crates/revm" }
# revm-primitives = { path = "../revm/crates/primitives" }
# revm-interpreter = { path = "../revm/crates/interpreter" }
# revm-precompile = { path = "../revm/crates/precompile" }
